

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  form{
    width: 450px;
    height: 600px;
    /* border: 2px solid goldenrod; */
    border-top: 3px solid blue;
    justify-content: center;
    padding-left: 150px;
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(161, 150, 150);
  }
  
  input{
    padding: 8px;
    width: 220px;
  }
  button{
    padding: 10px 60px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover{
    background-color: rgb(29, 29, 66);
  }
 